.planetsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 7px;
}

.title {
  text-align: center;
}

.searchPlanet {
  display: flex;
  align-items: center; 
  margin-left: 7px;
}